<h1> Homepage </h1>

<form action="/new_user" method="post">
  Email address: <input type="text" name="email address" />
  Password: <input type="text" name="password" />
  Confirm password: <input type="text" name="confirm password" />
  <input type="submit" value="Submit" />
</form>