<h1> Feel at home, anywhere </h1>

<h2> Sign up to MakersBnB </h2>

<form action="/login" method="post">
  Email address: <input type="text" name="email" /><br>

  Password: <input type="text" name="password" /><br>
  
  Confirm password: <input type="text" name="confirm password" /><br>
  <input type="submit" value="Submit" />
</form>