<main class="beach-bg">

  <h1> Feel at home, anywhere </h1>

  <h2> Sign up to MakersBnB </h2>

  <form action="/newuser" method="post" class="login-form">
    <label for="email">Email Address: <input type="email" id="email" name="email" /></label>

    <label for="password">Password:<input type="password" id="password" name="password" /></label>

    <label for="confirm_password">Confirm Password:<input type="password" id="confirm_password" name="confirm_password" /></label>
    <input type="submit" value="Submit" />
  </form>
  
  <div class="flash-notice">
    <%= flash[:notice]%>
  </div>
  <a href='/login'>Already a member? Sign in here!</a>
</main>