<form action="/listings" method="post">
  Name: <input type="text" name="name" />
  <br/>
  <br/>
  Description: <input type="text" name="description" />
  <br/>
  <br/>
  Price: <input type="number" name="price" />
  <br/>
  <br/>
  Available from: <input type="date" name="date_from" />
  <br/>
  <br/>
  To: <input type="date" name="date_to" />
  <br/>
  <br/>
  <br/>
  <input type="submit" value="Submit" />
</form>