

 <br/>
  
<a href="/listings">back to listings</a>

 <br/>
  <br/>


         
<div style = "position:fixed; left:850px; top:200px; background-color:peachpuff;"> 

<form action="/listings" method="post">
  <center> 

   Name:<p> <input type="text" name="name" />
  <br/>
  <br/>
  Description: <p> <input type="text" name="description" />
  <br/>
  <br/>
  Price:<p>  <input type="number" name="price" />
  <br/>
  <br/>
  Available from:<p>  <input type="date" name="date_from" />
  <br/>
  <br/>
  To:<p>  <input type="date" name="date_to" />
  <br/>
  <br/>
  <br/>

  <p><input type="submit" value="Submit" /> 
  </center>
</form>




 </div>



 
