<form action="/listings" method="post">
  Name: <input type="text" name="name" />
  Description: <input type="text" name="description" />
  Price: <input type="number" name="price" />
  Date From: <input pattern="\d{1,2}/\d{1,2}/\d{4}" type="date" name="date_from" />
  Date To: <input type="date" name="date_to" />
  <input type="submit" value="Submit" />
</form>