<main class="beach-bg">

  <h1> Login to MakersBnB</h1>

  <form action="/login" method="post" class="login-form">
    <label for="email">Email Address: <input type="email" id="email" name="email" /></label>
   
    <label for="password">Password: <input type="password" id="password" name="password" /></label>
    
    <input type="submit" value="Login" class="login-button"/>
  </form>

  <div class="flash-notice">
    
    <%= flash[:notice]%>
  
  </div>

  <a href='/'>Not a member? Sign up here!</a>

</main>