<h1> Login to MakersBnB</h1>

<form action="/user/logins" method="post">
  Email address: <input type="text" name="email" />
  Password: <input type="text" name="password" />
  <input type="submit" value="Login" />
</form>