<h1> Login to MakersBnB</h1>

<form action="/login" method="post">

  Email address: <input type="text" name="email" />

  Password: <input type="password" name="password" />

  <input type="submit" value="Login" />
</form>

<a href='/'>Not a member? Sign up here!</a>