@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.beach-bg {
  background-image: url('../images/maldives.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(255,255,255,0.25);
  padding: 30px;
  margin-bottom: 60px;
  min-width: 40%;
}

.login-form label {
  margin-bottom: 15px;
  display: block;
}

.login-form input {
  float: right;
}

