@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.beach-bg {
  background-image: url('../images/maldives.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.peer-bg{
  background-image: url('../images/peer.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  background-color: rgba(255,255,255,0.25);
  padding: 30px;
  margin-bottom: 60px;
  width: 320px;
}

.login-form label {
  margin-bottom: 15px;
  display: block;
}

.login-form input {
  float: right;
  
}

.login-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.new-listing-form{ 
  background-color: rgba(255,255,255,0.25);
  padding: 30px;
  margin-bottom: 60px;
  width: 320px;
}

.new-listing-form input, label {
  display:block;
}

.description {
  width:300px
}

.name {
  width:300px
}

.new-listing-form label {
  margin-bottom: 15px;
  display: block;
}

